!!!
%html.body-full-height
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ :content => "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %meta{ :content => "width=device-width, initial-scale=1", :name => "viewport" }/
    = favicon_link_tag "logo_burned.png"
    %title Super Ruby
    = csrf_meta_tags
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    / - if logged_in?
    /   = render "shared/header"
    / - else
    /   %body.login-container
    /     #flash
    /       - flash.each do |name,msg|
    /         %div{ class: "alert alert-#{ name }" }
    /           = msg
      = yield

:javascript
  $(document).ready(function(){
    setTimeout(function(){
      $("#flash").remove();
    }, 5000);
  })
